body{
    background-color: #fac784;
    margin: 0;
}
div.inner{
    width: 1400px;
    margin-left: auto;
    margin-right: auto;/*盒模型,凝胶布局*/
}

header{
    height: 100px;
    background-image: url(../images/2.jpg);
}

nav{
    height: 41px;
    background-image:  url(../images/1.png);
}
nav li.nav_1{
    list-style: none;
    height: 41px;
    width: 255px;
    float:left;
    margin-left: 265px;
}
nav li.nav_2{
    list-style: none;
    height: 41px;
    width: 280px;
    float:left;
}
nav li.nav_3{
    list-style: none;
    height: 41px;
    width: 285px;
    float:left;
}
nav li.nav_4{
    list-style: none;
    height: 41px;
    width: 300px;
    float:left;/*利用float布局实现超链接的四部分字横向排列*/
}
.inner a {
    font-size: 20px;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(196, 149, 30); 
    background-image: url(../images/OIP-C\ \(1\).jfif);
    font-size: 130px;
    background-repeat: no-repeat;/*背景设成no-repeat以实现图片在字的最左边，不重复排列*/
    margin-left: 70px;
}
h2{
    font-size: 60px;
    color: chocolate;
}
h3{
    font-size: 20px;
    color:#724812;
    margin-left:  65px;
    margin-right: 65px;
}
h3 span{
    padding: 200px;
}
.p{
    color:rgb(92, 46, 9);
    text-align: center;
    background-color:#e2ab63;
}
.part{
    margin-left: 120px;
    background-image: url(../images/980\ \(2\).jfif);
    margin-right: 140px;
}
.part1{
    margin-left: 120px;
    background-image: url(../images/980\ \(3\).jfif);
    margin-right: 140px;
}
#tableContainer{
    display: table;/*表格布局*/
    border-spacing:10px;   
}
#tableRow{
    display: table-row;
}
.article{
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-weight: bolder;
    display: table-cell;
}
.footer{
    width: 100%;
    position: absolute;/*相对布局*/
    bottom: 0;
}
.website-info{
    overflow: hidden;
    background-color: #e7e7e7;
    padding-left: 10%;
}
.website-info h5{
    padding-bottom: 3px;
    color: #424242;
    font-weight: bold;
    border-bottom: 1px solid rgb(232, 225, 225);
}
.about, .response, .contact{
    float: left;/*float布局*/
    margin-right: 10%;
    margin-left: 7% ;
    font-size: 0.75em;
}
.about p, .response p, .contact p{
    margin-bottom: 0.2em;
}
.welcome{
    text-align: center;
    padding: 0.5em 0;
    background: #f09307;
    color: #e7e7e7;
    bottom: 10em;
}